/* ------------------------------    Parameters      ---------------------------------- */
:root {
  --colorPrincipal: #393939;
  ---colorSecundario: #d9d9d9;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}
/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --colorPrincipal: #ececec;
    --colorSecundario: #252525;
  }
}
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

/* ------------------------------    Formating Group      ----------------------------- */
/* * {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
} */

/* 
h1,h2,h3,h4,h5,h6,p,span,a,strong,blockquote,i,b,u,em {
  font-size: 1rem;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
} */

/* blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
} */

/* ::-moz-selection {
  background-color: var(--colorPrincipal);
  color: var(--blanco);
}
::selection {
  background-color: var(--colorPrincipal);
  color: var(--blanco);
} */


/* ------------------------------    Basic      --------------------------------------- */

html {
  scroll-behavior: smooth;

}


h1, h2, h3, h4{
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-weight: bold;
  margin: 20px 0; 
}

h1{ font-size: 2rem; }
h2{ font-size: 2rem; }
h3{ font-size: 1.4rem; }
/* h4{} */
/* h5{} */
/* h6{} */
/* p{} */
/* br{} */
/* hr{}  */

/* ------------------------------    Formating      ----------------------------------- */
/* abbr{} */
/* address{} */
/* b{} */
/* bdi{} */
/* bdo{} */
/* blockquote{} */

/* del{} */
/* dfn{} */
/* em{} */
/* i{} */
/* ins{} */
/* kbd{} */
/* mark{} */
/* meter{} */

/* progress{} */
/* q{} */
/* rp{} */
/* rt{} */
/* ruby{} */
/* s{} */
/* samp{} */
/* small{} */
/* strong{} */
/* sub{} */
/* sup{} */
/* template{} */
/* time{} */
/* u{} */
/* var{} */
/* wbr{} */

/* ------------------------------    Forms and Imput      ----------------------------- */
/* form{} */
/* input{} */
/* textarea{} */
/* button{} */
/* select{} */
/* optgroup{} */
/* option{} */
/* label{} */
/* fieldset{} */
/* legend{} */
/* datalist{} */
/* output{} */

/* ------------------------------    Frames      -------------------------------------- */
/* iframe{} */

/* ------------------------------    Images      -------------------------------------- */
/* img{} */
/* map{} */
/* area{} */
/* canvas{} */
/* figcaption{} */
/* figure{} */
/* picture{} */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
p svg {
  display: inline;
  width: initial;
}

/* ------------------------------    Audio and Video      ----------------------------- */
/* audio{} */
/* source{} */
/* track{} */
/* video{} */

/* ------------------------------    Links      --------------------------------------- */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p a {
  display: inline;
}
/* link{} */
/* nav{} */

/* ------------------------------    List      ---------------------------------------- */
ul, ol{
  margin: 10px 0;
  padding-left: 20px;
}
li { margin: 5px 0; }
/* dl{} */
/* dt{} */
/* dd{} */

/* ------------------------------    Table      --------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* caption{} */
/* th{} */
tr {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  border-collapse: collapse;
  border-spacing: 0;
}
/* thead{} */
/* tbody{} */
/* tfoot{} */
/* col{} */
/* colgroup{} */

/* ------------------------------    Styles and Semantics      ------------------------ */
/* div{} */
/* span{} */
/* header{} */
/* footer{} */
/* main{} */
/* section{} */
article{ padding: 0.5rem; }
/* aside{} */
/* details{} */
/* dialog{} */
/* summary{} */
/* data{} */

/* ------------------------------    Programming      --------------------------------- */

/* script{} */
/* noscript{} */
/* embed{} */
/* object{} */
/* param{} */
